
fieldset{
    margin: 2em;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
    
}
form{
    width: 500px;
    margin: auto;
    padding: 100px;
}
input{
    padding: .5em;
    margin: .5em;
    border: solid 1px #999;
    width: 15em; 
    
}
.button{
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    left: 20px;
    cursor: pointer;
    background-color: gainsboro;
    width:50%;
    margin-left:25%;
    margin-right:25%;
}
button:hover{
    opacity: 1;
}
textarea{
    margin: 10px;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    min-height: 8em;
    width: 15em;
    padding: .5em;
    border: solid 1px #999;
}

.textarea_style{
    margin: 1px;
    padding: 1px;
    border: 0px solid black;
    width: 100%;
}

label{
    margin: 1px;
    padding: 1px;
}

#title{
    border: none;
    outline: none;

    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    display: block;
    margin: auto;
    margin-top: .5em;
    /* width: 100%; */
}

#title_div{
    margin:15px;
    text-align: center;
}
#label_style{
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}
.label_style{
    display: inline-block;

}
.paragraph-styling{
    margin:0;
    cursor: pointer;
}
@media screen and (min-width: 430px) {
    legend{
        font-size: 1.75em;
    }
    fieldset{
        width: 20%;
        min-width: 320px;
        margin: auto;
    }
    
}